body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.score-table {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
}

.results-table {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  font-size: 1rem;
}