body {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
}

.score-table {
  text-align: center;
  width: 15rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  flex: 0;
}

.table-wrapper {
  flex: 1;
}

.table-header, .table-row{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.table-header {
  font-weight: bold;
}

th {
  min-width: 1.875rem;
}

.table-entry{
  flex: 1;
}

.results-table {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.correct-score {
  font-weight: bold;
  color: green;
}

.correct-result {
  color: green;
}

.incorrect-result {
  color: red;
}

/* TODO Convert this to SCSS */

.table-wrapper {
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .results-table>thead>tr>th:nth-child(1),
  .results-table>thead>tr>th:nth-child(2),
  .results-table>tbody>tr>td:nth-child(1),
  .results-table>tbody>tr>td:nth-child(2) {
    visibility: hidden;
    width: 0;
    max-width: 0;
    min-width: 0;
  }
  .results-table {
    font-size: 0.8rem;
  }

}

summary {
  margin: 0 2rem;
}

details {
  margin: 1rem 0;
}